# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.claude/
# Virtual environments
venv/
.venv/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Build / dist (later when you make exe)
build/
dist/
*.spec
